CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

RESEND_API_KEY=
EMAIL_FROM=
RESEND_WEBHOOK_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

MOBILEPAY_CLIENT_ID=
MOBILEPAY_CLIENT_SECRET=
MOBILEPAY_SUBSCRIPTION_KEY=
MOBILEPAY_WEBHOOK_SECRET=
